<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout::commonhead">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootswatch-paper/3.3.5+4/css/bootstrap.css}">
        <link rel="stylesheet" href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
    </th:block>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Provider List</title>
</head>

<body>

<div th:replace="fragments/layout :: header"></div>
<div class="container page-wrap">
    <section id="table-data" style="margin-top: 90px;">
        <div class="panel panel-primary">
            <a th:href="@{/provider/add}" class="btn btn-md btn-success">Add</a>
            <div class="panel-heading">
                <h3 class="panel-title">Providers</h3>
            </div>
            <div class="table-responsive">
                <table id="providerTable"  class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:id="${provider.getId()}" th:each="provider : ${listProvider}">
                        <td data-title="Name" th:text="${provider.getName()}">L</td>
                        <td data-title="Email" th:text="${provider.getEmail()}">a@gmail</td>
                        <td data-title="Phone Number" th:text="${provider.getPhoneNumber()}">2</td>
                        <td data-title="Address" th:text="${provider.getAddress()}">Sick</td>
                        <td>
                            <a th:href="@{/provider/edit/} + ${provider.getId()}" class="btn btn-md btn-primary" th:id="${'edit_' + provider.getId()}">Edit</a>
                            <a href="#" class="btn btn-md btn-danger" th:id="${'delete_' + provider.getId()}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</div>
<div th:replace="fragments/layout :: footer"></div>
<th:block th:replace="fragments/layout :: script"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"
        th:src="@{/webjars/bootbox.js/4.4.0/bootbox.js}"></script>
<script src="../../../resources/js/provider.js" th:src="@{/resources/js/provider.js}"></script>
</body>
</html>